body{
    font-family: 'Oswald', sans-serif;
    /*font-family: 'Oswald', sans-serif;
    font-family: 'Spline Sans', sans-serif; */ 
    width: 100%;
    margin: 0;
}


.Top-Banner{
    display: flex;
    margin-top: 3%;
    margin-left: 15%;
    padding: 50px;
}

.Focused-Part{
    width: 100%;
    margin-bottom: 150px;
    padding-left: 10%;
    
}
.Side-Border{
    border-left: 4px solid;
    border-image: linear-gradient(#cee40e, #2c5f03) 1;
    

}
.Side-Border h1{
    font-size: 50px;
}
.Span-Color{
    color: coral;
}
.Focused-Part img{
    width: 80%;
}
.Button{
    text-decoration: none;
    background-image: linear-gradient(rgb(177, 60, 13), rgb(231, 71, 8)  );
    border-radius: 3px;
    padding: 7px 15px;
    color: white;
    font-weight: 700;
}
/* second view started */ 
#Mission-Year{
    text-align: center;
    font-size: 50px; 
}
.box-width{
    margin: 5%;  
}
.box-width h3{
    font-size: 25px;
}
.Mission{
    background-color: rgb(213, 245, 247);
    border-radius: 15px;
    margin-right: 5%;
    padding: 5%;
    
}
.img{
    max-width: 75%;
}
.Vision{
    background-color: rgb(247, 213, 236);
    border-radius: 10px;
    margin-right: 5%;
    padding: 5%;
    
}
.Goals{
    background-color: rgb(232, 206, 253);
    border-radius: 10px;
    margin-right: 5%;
    padding: 5%;
    
}
/* 3rd part */
.Develop-img{
    width: 50%;
}
.Develop-View{
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
   
}
.Develop-Header{
    font-size: 50px;
}
#corona-header{
    font-size: 50px;
    text-align: center;
    padding: 40px 0;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    
}
#footer-h1{
    font-size: 40px;
    font-style: italic;
    
}
.footer{
    padding-bottom: 5px;
}
