body{
    font-family: 'Oswald', sans-serif;
    /*font-family: 'Oswald', sans-serif;
    font-family: 'Spline Sans', sans-serif; */ 
    width: 100%;
    margin: 0;
    
}


.Top-Banner{
    display: flex;
    margin-top: 3%;
    margin-bottom: 100px;
}
.Font-Para{
    font-size: 21px;
}

.Focused-Part{
    width: 100%;
    margin-bottom: 150px;
    padding-left: 10%;
    
}
.Side-Border{
    border-left: 4px solid;
    border-image: linear-gradient(#cee40e, #2c5f03) 1;
    

}
.Side-Border h1{
    font-size: 50px;
}
.Span-Color{
    color: #ff944d;
}
.Focused-Part img{
    width: 80%;
}
.Button{
    text-decoration: none;
    background-image: linear-gradient(#ff6666, #ff6666  );
    border-radius: 3px;
    padding: 8px 30px;
    color: white;
    font-weight: 400;
}
/* second view started  
#Mission-Year{
    text-align: center;
    font-size: 50px; 
}*/
h1{
    
    font-size: 50px;
}
.My-Mission-Banner h1{
    text-align: center;
}
.box-style{
    width: 100%;
    margin: 10px;
    padding: 5px;
}
.box-side{
    margin-left: 10%;
    margin-right: 10%;    
}
.box-style h3{
    font-size: 35px;
}
.Mission{
    background-color: rgb(213, 245, 247);
    border-radius: 15px; 
    padding: 30px;
}
.img{
    max-width: 25%;
}
.Vision{
    background-color: rgb(247, 213, 236);
    border-radius: 10px;
    padding: 30px;
    
}
.Goals{
    background-color: rgb(232, 206, 253);
    border-radius: 10px;   
    padding: 30px; 
}
/* 3rd part */
.Develop-img{
    width: 80%;
    margin-left: 10%;
}
.Develop-View{
    width: 100%;
    margin: 5% 10%;
}
.Develop-Header{
    font-size: 50px;
}
.Font-Style p{
    font-size: 20px;
}
.Font-Style h3{
    font-size: 50px;
}
#corona-header{
    font-size: 50px;
    text-align: center;
    padding: 40px 0;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    
}
#footer-h1{
    font-size: 40px;
    font-style: italic;
    
}
.footer{
    padding-bottom: 5px;
}
